<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  
  </div>
  <div>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

  </div>
  <div *ngIf="this.form.controls['username'].errors && this.form.controls['username'].dirty"
  class="error" padding>Username required</div>  
  <div *ngIf="this.form.controls['password'].errors && this.form.controls['password'].dirty"
  class="error" padding>Password required</div>
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="button">
    <button type="submit" mat-raised-button color="primary">Login</button>
  </div>
</form>
</mat-card-content>
</mat-card>